@model IEnumerable<CarSales.Models.Brand>

@{
    ViewBag.Title = "Index";
}

<h2>Brands</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand1.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand2.BrandName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand1.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand2.BrandName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BrandID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BrandID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BrandID })
        </td>
    </tr>
}

</table>
