@model CarSales.Models.Dealer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dealership</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(item => item.Car.Brand.BrandName)
        </dt>

        <dd>
            @Html.DisplayFor(item => item.Car.Brand.BrandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>

        <dd>
            @Html.DisplayFor(item => item.Car.Model.ModelName)
        </dd>
 
        <dt>
            @Html.DisplayNameFor(item => item.Car.Year)
        </dt>

        <dd>
            @Html.DisplayFor(item => item.Car.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(item => item.Car.Mileage)
        </dt>

        <dd>
            @Html.DisplayFor(item => item.Car.Mileage)
        </dd>
    </dl>
</div>
<p>
    
    @Html.ActionLink("Back to List", "Index")
</p>
